
@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Nouvelles règles si la fenêtre fait au plus 1024px de large */



body{
   background-image: url('/images/fond_jaune.png'); 
   width: 80%;
   margin:auto;
   color: #181818;
}


/*/////////////// HEADER */

header{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 20px;
   
}

/*////////////// titre */
#titre{
    display: flex;
    flex-direction: column;

}

#logo{
    display: flex;
    height: 55px;
}
#logo img{
    width: 65px;
    height: 65px;
}
#logo h1{
    padding: 12px 0 0 10px;
    font-family: BallparkWeiner, serif;
    font-size: 2.5em;

}

#titre h2{
    font-family: Dayrom, serif;
    font-size: 1.1em;
    margin-left: 30px;
    
  
}


/* //////////////barre de nav */
ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    
}

li{
    margin-right: 40px;
}

li a{
    font-size: 1.4em;
    text-transform : uppercase;
    color: black;
    text-decoration:none; 
}

li a:hover
{
    border-bottom: brown 5px solid;
}

/* ////////////// SEPARATEUR */

#separateur img{
    margin-bottom: 10px;
    margin-left: -100px;
    width: 1095px;
    height: 3px;
}


@media all and (max-width: 1024px)
{
  
    nav
    {
        width: auto;
        text-align: left;
    }
    
    nav ul
    {
        flex-direction: column;
    }

    nav li
    {
        padding-left: 4px;
    }
    
    nav a
    {
        font-size: 1.1em;
    }
    
    nav a:hover
    {
        border-bottom: 0;
    }
}

/* ////////////// FOND ECRAN */


#fond_ecran{
    background-image: url(/images/sanfrancisco.jpg);
    position: relative;
    margin-top: 15px;
    height: 210px;
    border-radius: 10px;
    box-shadow: 11px 2px 26px 6px rgba(0,0,0,0.77)
}

#message{
    position: absolute;
    background-color: black;
    bottom: 1px;
    width: 99.98%;
    border-radius: 0 0 8px 8px;
    height: 40px ;
    opacity: 0.7;
    
}

#message p{
    color: white;
   margin-top: 9px;
   margin-left: 10px;

}


section{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    
    
}
/* ////////////// PARAGRAPHE */

article{
  
    width: 1700px;
    margin-right: 16px;
}

#titre_article{
    display: flex;
    flex-direction: row;
}

#titre_article h1{
    font-family: Dayrom, serif;
    margin-left: 9px;

}
#titre_article img{
    width: 50px;
    height: 50px;
}


article p{
    text-align: justify;
    margin-top :-1px;
}

/* ////////////// SIDEEE*/

#fleche{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 170px;

    

}

#fleche img{
    padding-bottom: 200px;
    
}



aside{
    margin-top: 90px;
    height: 380px;
    background-color: rgb(111, 106, 99);
    padding: 0 6px 0 6px;
    border-radius: 8px;
    
   
}

aside h1{
    color: #F2F1EF;
    text-align: center;
    font-size: 1.1em;
    font-family: Dayrom, serif;
    font-weight: normal;
}

#zozor{
    text-align: center;
}

#zozor img{
    border: solid black 1px;
}

aside p{
    color: #F2F1EF;
    font-size: 0.8em;
    
    text-align: justify;
}

#logo_reseau{
    text-align: center;
    padding-top: 7px;
    
}

#logo_reseau img{
    width: 40px;
    padding-left: 4px;
    
}


#separateur_2 img{
    margin-bottom: 10px;
    margin-left: -100px;
    width: 1095px;
    height: 3px;
}

#fleche_s img{
    width: 50px;
    height: 30px;
    margin-left: 400px;
    margin-top: -18px;    
}


footer{
    display: flex;
    justify-content: space-between;
    height: 160px;
    margin-top: -25px;
    
}

footer h1{
    font-size: 1.3em;
    font-weight: normal;
    font-family: Dayrom, serif;
}


footer img{
    border: 1px solid black;
}

#mes_photos h1{ 
    margin-left: 65px;
 
}


#mes_amis h1{
    margin-left: 80px;
}

#liste_amis{
    display: flex;
    width: 290px;

    
}

#liste_amis p{
    font-size: 0.9em;
    margin-top: -4px;
    margin-left: 40px;
   
}